{% extends 'base.html' %}

{% block title %}
Add product
{% endblock %}

{% block body %}
<div class="container py-5 h-100">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-5 text-center">
                <img class="custom-file-input img-thumbnail" src="{{ url_for('static', filename = 'img/default.jpeg') }}" id="product-picture-preview">
                {{ form.image_file(class='form-control-files', style="display: none") }}
                {{ form.image_file.label(class="btn btn-danger mt-3") }}
            </div>
            <!--Image Information-->
            <div class="col-md-7">
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class="form-control", rows="5") }}
                </div>

                <button type="submit" class="btn btn-primary p-3 mt-3">Add product</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}