{% extends 'dash_board_base.html' %}

{% block title %}
Orders
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            {% for order in orders %}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1">
                    <img class="img-thumbnail img-fluid img-responsive rounded product-image"
                        src="{{ url_for('static', filename = order.user_image_link)}}">
                </div>
                <div class="col-md-6 mt-1">
                    <h5>Order's ID: {{ order.id }}</h5>
                    <div>
                        <p class="text-justify lh-sm mb-0">Buyer: {{ order.fullname }} <br><br></p>
                        <p class="text-justify lh-sm mb-0">Status: {{ order.status }}<br><br></p>
                        <p class="text-justify lh-sm mb-0">Created date: {{ order.created_at }}<br><br></p>
                        <p class="text-justify lh-sm mb-0">Content: {{ order.order_payment_content }}<br><br></p>
                    </div>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">Total money: ${{ order.total_price }}</h4>
                    </div>
                    <div class="d-flex flex-column mt-4">
                        <a class="btn btn-success btn-sm" type="button"
                            href="{{ url_for('dash_board_order_confirm', order_id=order.id)}}">Approve</a>
                        <a class="btn btn-outline-danger btn-sm mt-2" type="button"
                            href=" {{ url_for('dash_board_order_delete', order_id=order.id) }}">Delete order</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}