{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h2 class=" text-left font-weight-bold fs-1 text-danger" style="padding-left: 17%;">Home</h2>
<div class="container-fluid" style="background-color: #FFF9C4;">
  
  <div class="row" style="padding-left: 17%; padding-right: 17%; padding-top: 1%; padding-bottom: 1%;">
    <div class="col-md-8">
      <p class="fs-2 text-break text-dark">Localization and product illustration with Japanese cultural
        characteristics</p>
    </div>
    <div class="col-md-4"><img class="img-fluid rounded max-width height:auto" src="{{ url_for('static', filename='img/meme_1.jpg') }}" alt="">
    </div>
  </div>
</div>

<hr style="border-top: 5px solid white;">

<h2 class=" text-center font-weight-bold fs-1 text-danger" style="padding-left: 11%;">Come and see our product</h2>
<div class="container-fluid" style="background-color: #FFF9C4;">
  <div class="row" style="padding-left: 17%; padding-right: 17%; padding-top: 1%; padding-bottom: 1%;">
    <div class="col-md-4"><img class="img-fluid rounded max-width height:auto" src="{{ url_for('static', filename='img/meme_1.jpg') }}" alt=""></div>
    <div class="col-md-4"><img class="img-fluid rounded max-width height:auto" src="{{ url_for('static', filename='img/meme_1.jpg') }}" alt=""></div>
    <div class="col-md-4"><img class="img-fluid rounded max-width height:auto" src="{{ url_for('static', filename='img/meme_1.jpg') }}" alt=""></div>
  </div>
</div>

<br>
{% endblock %}