{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename=user_profile.image_link) }}"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ user_profile.fullname }}</h5>
                        <p class="text-muted mb-1">{{ user_role }}</p>
                        <p class="text-muted mb-4">{{ user_profile.address }}, {{ user_profile.state }}, {{ user_profile.city }}, {{ user_profile.country }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            {% if current_user.id == user_profile.user_id %}
                            <a type="button" class="btn btn-primary" href="{{ url_for('edit_profile')}}">Edit profile</a>
                            <a type="button" class="btn btn-outline-primary ms-1" href="#">Share</a>
                            {% else %}
                            <a type="button" class="btn btn-primary">Follow</a>
                            <a type="button" class="btn btn-outline-primary ms-1">Message</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <p class="p-3">
                            {{ user_profile.about_me }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_profile.fullname }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_email_address }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_profile.phone_number }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user_profile.address }}, {{ user_profile.state }}, {{ user_profile.city }}, {{ user_profile.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if artist_products != null %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4 text-primary"> My Arts </p>
                                {% for product in artist_products %}
                                <div class="row pb-3">
                                    <div class="col-md-4">
                                        <!-- Image -->
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ url_for('static', filename = product.image_link)}}" alt="{{ product.name }}" style="height: 150px; width: 150px;">
                                    </div>

                                    <div class="col-md-8">
                                        <p class="mb-1 text-danger font-weight-semibold">{{ product.name }}</p>
                                        <p class="mb-3">{{ product.description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <img class="w-100 h-75 rounded" src="{{ url_for('static', filename='img/background.jpeg')}}" alt="Background">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}